# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Editor backups
*~
*.swp

# Logs and databases
*.log
*.sql
*.sqlite

# Dependency directories
node_modules/
vendor/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE specific
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db